In [1]:
import pandas as pd
import numpy as np

In [2]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [3]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [4]:
train_data.shape

(1460, 81)

In [5]:
train_data.isna().sum()

Id                  0
MSSubClass          0
MSZoning            0
LotFrontage       259
LotArea             0
Street              0
Alley            1369
LotShape            0
LandContour         0
Utilities           0
LotConfig           0
LandSlope           0
Neighborhood        0
Condition1          0
Condition2          0
BldgType            0
HouseStyle          0
OverallQual         0
OverallCond         0
YearBuilt           0
YearRemodAdd        0
RoofStyle           0
RoofMatl            0
Exterior1st         0
Exterior2nd         0
MasVnrType          8
MasVnrArea          8
ExterQual           0
ExterCond           0
Foundation          0
                 ...
BedroomAbvGr        0
KitchenAbvGr        0
KitchenQual         0
TotRmsAbvGrd        0
Functional          0
Fireplaces          0
FireplaceQu       690
GarageType         81
GarageYrBlt        81
GarageFinish       81
GarageCars          0
GarageArea          0
GarageQual         81
GarageCond         81
PavedDrive          0
WoodDeckSF          0
OpenPorchSF         0
EnclosedPorch       0
3SsnPorch           0
ScreenPorch         0
PoolArea            0
PoolQC           1453
Fence            1179
MiscFeature      1406
MiscVal             0
MoSold              0
YrSold              0
SaleType            0
SaleCondition       0
SalePrice           0
Length: 81, dtype: int64

In [6]:
train_data.describe(include="all")

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
count,1460.000000,1460.000000,1460,1201.000000,1460.000000,1460,91,1460,1460,1460,...,1460.000000,7,281,54,1460.000000,1460.000000,1460.000000,1460,1460,1460.000000
unique,NaN,NaN,5,NaN,NaN,2,2,4,4,2,...,NaN,3,4,4,NaN,NaN,NaN,9,6,NaN
top,NaN,NaN,RL,NaN,NaN,Pave,Grvl,Reg,Lvl,AllPub,...,NaN,Gd,MnPrv,Shed,NaN,NaN,NaN,WD,Normal,NaN
freq,NaN,NaN,1151,NaN,NaN,1454,50,925,1311,1459,...,NaN,3,157,49,NaN,NaN,NaN,1267,1198,NaN
mean,730.500000,56.897260,NaN,70.049958,10516.828082,NaN,NaN,NaN,NaN,NaN,...,2.758904,NaN,NaN,NaN,43.489041,6.321918,2007.815753,NaN,NaN,180921.195890
std,421.610009,42.300571,NaN,24.284752,9981.264932,NaN,NaN,NaN,NaN,NaN,...,40.177307,NaN,NaN,NaN,496.123024,2.703626,1.328095,NaN,NaN,79442.502883
min,1.000000,20.000000,NaN,21.000000,1300.000000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,1.000000,2006.000000,NaN,NaN,34900.000000
25%,365.750000,20.000000,NaN,59.000000,7553.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,5.000000,2007.000000,NaN,NaN,129975.000000
50%,730.500000,50.000000,NaN,69.000000,9478.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,6.000000,2008.000000,NaN,NaN,163000.000000
75%,1095.250000,70.000000,NaN,80.000000,11601.500000,NaN,NaN,NaN,NaN,NaN,...,0.000000,NaN,NaN,NaN,0.000000,8.000000,2009.000000,NaN,NaN,214000.000000
max,1460.000000,190.000000,NaN,313.000000,215245.000000,NaN,NaN,NaN,NaN,NaN,...,738.000000,NaN,NaN,NaN,15500.000000,12.000000,2010.000000,NaN,NaN,755000.000000

In [7]:
train_data.describe(include="O")

,MSZoning,Street,Alley,LotShape,LandContour,Utilities,LotConfig,LandSlope,Neighborhood,Condition1,...,GarageType,GarageFinish,GarageQual,GarageCond,PavedDrive,PoolQC,Fence,MiscFeature,SaleType,SaleCondition
count,1460,1460,91,1460,1460,1460,1460,1460,1460,1460,...,1379,1379,1379,1379,1460,7,281,54,1460,1460
unique,5,2,2,4,4,2,5,3,25,9,...,6,3,5,5,3,3,4,4,9,6
top,RL,Pave,Grvl,Reg,Lvl,AllPub,Inside,Gtl,NAmes,Norm,...,Attchd,Unf,TA,TA,Y,Gd,MnPrv,Shed,WD,Normal
freq,1151,1454,50,925,1311,1459,1052,1382,225,1260,...,870,605,1311,1326,1340,3,157,49,1267,1198

In [8]:
train_data = train_data.drop(['Alley'],axis = 1)
train_data = train_data.drop(['PoolQC'],axis = 1)
train_data = train_data.drop(['Fence'],axis = 1)
train_data = train_data.drop(['MiscFeature'],axis = 1)
train_data = train_data.drop(['FireplaceQu'],axis = 1)
train_data = train_data.drop(['LandContour'],axis = 1)
train_data = train_data.drop(['LotConfig'],axis = 1)
train_data = train_data.drop(['Condition1'],axis = 1)
train_data = train_data.drop(['GarageArea'],axis = 1)
# train_data = train_data.drop(['BldgType'],axis = 1)
# train_data = train_data.drop(['RoofStyle'],axis = 1)
# train_data = train_data.drop(['ExterCond'],axis = 1)
# train_data = train_data.drop(['BsmtExposure'],axis = 1)
train_data = train_data.fillna({"LotFrontage": round(np.mean(train_data['LotFrontage']))})
train_data = train_data.fillna({"MasVnrType": "RL"})
train_data = train_data.fillna({"MasVnrArea": round(np.mean(train_data['MasVnrArea']))})
train_data = train_data.fillna({"BsmtQual": "TA"})
train_data = train_data.fillna({"BsmtCond": "TA"})
train_data = train_data.fillna({"BsmtExposure": "No"})
train_data = train_data.fillna({"BsmtFinType1": "Unf"})
train_data = train_data.fillna({"BsmtFinType2": "Unf"})
train_data = train_data.fillna({"Electrical": "SBrkr"})
train_data = train_data.fillna({"GarageType": "Attchd"})
train_data = train_data.fillna({"GarageYrBlt": round(np.mean(train_data['GarageYrBlt']))})
train_data = train_data.fillna({"GarageFinish": "Unf"})
train_data = train_data.fillna({"GarageQual": "TA"})
train_data = train_data.fillna({"GarageCond": "TA"})

In [9]:
train_data.shape

(1460, 72)

In [10]:
train_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,LotShape,Utilities,LandSlope,Neighborhood,...,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,Reg,AllPub,Gtl,CollgCr,...,0,0,0,0,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,Reg,AllPub,Gtl,Veenker,...,0,0,0,0,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,IR1,AllPub,Gtl,CollgCr,...,0,0,0,0,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,IR1,AllPub,Gtl,Crawfor,...,272,0,0,0,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,IR1,AllPub,Gtl,NoRidge,...,0,0,0,0,0,12,2008,WD,Normal,250000

In [11]:
train_data_T = train_data.T
train_data_T.shape

(72, 1460)

In [12]:
train_data_T.duplicated().sum()

0

In [13]:
columns = train_data.columns

In [14]:
columns.shape

(72,)

In [15]:
X = train_data.iloc[:,0:-1].values
y = train_data.iloc[:,-1].values

In [16]:
X.shape, y.shape

((1460, 71), (1460,))

In [17]:
for i in range(71):
    print(i,X[0][i])

0 1
1 60
2 RL
3 65.0
4 8450
5 Pave
6 Reg
7 AllPub
8 Gtl
9 CollgCr
10 Norm
11 1Fam
12 2Story
13 7
14 5
15 2003
16 2003
17 Gable
18 CompShg
19 VinylSd
20 VinylSd
21 BrkFace
22 196.0
23 Gd
24 TA
25 PConc
26 Gd
27 TA
28 No
29 GLQ
30 706
31 Unf
32 0
33 150
34 856
35 GasA
36 Ex
37 Y
38 SBrkr
39 856
40 854
41 0
42 1710
43 1
44 0
45 2
46 1
47 3
48 1
49 Gd
50 8
51 Typ
52 0
53 Attchd
54 2003.0
55 RFn
56 2
57 TA
58 TA
59 Y
60 0
61 61
62 0
63 0
64 0
65 0
66 0
67 2
68 2008
69 WD
70 Normal

In [18]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
X[:,2] = labelencoder_X.fit_transform(X[:,2])
labelencoder_X_2 = LabelEncoder()
X[:,5] = labelencoder_X_2.fit_transform(X[:,5])
labelencoder_X_3 = LabelEncoder()
X[:,6] = labelencoder_X_3.fit_transform(X[:,6])
labelencoder_X_4 = LabelEncoder()
X[:,7] = labelencoder_X_4.fit_transform(X[:,7])
labelencoder_X_5 = LabelEncoder()
X[:,8] = labelencoder_X_5.fit_transform(X[:,8])
labelencoder_X_6 = LabelEncoder()
X[:,9] = labelencoder_X_6.fit_transform(X[:,9])
labelencoder_X_7 = LabelEncoder()
X[:,10] = labelencoder_X_7.fit_transform(X[:,10])
labelencoder_X_8 = LabelEncoder()
X[:,11] = labelencoder_X_8.fit_transform(X[:,11])
labelencoder_X_9 = LabelEncoder()
X[:,12] = labelencoder_X_9.fit_transform(X[:,12])
labelencoder_X_10 = LabelEncoder()
X[:,17] = labelencoder_X_10.fit_transform(X[:,17])
labelencoder_X_11 = LabelEncoder()
X[:,18] = labelencoder_X_11.fit_transform(X[:,18])
labelencoder_X_12 = LabelEncoder()
X[:,19] = labelencoder_X_12.fit_transform(X[:,19])
labelencoder_X_13 = LabelEncoder()
X[:,20] = labelencoder_X_13.fit_transform(X[:,20])
labelencoder_X_14 = LabelEncoder()
X[:,21] = labelencoder_X_14.fit_transform(X[:,21])
labelencoder_X_15 = LabelEncoder()
X[:,23] = labelencoder_X_15.fit_transform(X[:,23])
labelencoder_X_16 = LabelEncoder()
X[:,24] = labelencoder_X_16.fit_transform(X[:,24])
labelencoder_X_17 = LabelEncoder()
X[:,25] = labelencoder_X_17.fit_transform(X[:,25])
labelencoder_X_18 = LabelEncoder()
X[:,26] = labelencoder_X_18.fit_transform(X[:,26])
labelencoder_X_19 = LabelEncoder()
X[:,27] = labelencoder_X_19.fit_transform(X[:,27])
labelencoder_X_20 = LabelEncoder()
X[:,28] = labelencoder_X_20.fit_transform(X[:,28])
labelencoder_X_21 = LabelEncoder()
X[:,29] = labelencoder_X_21.fit_transform(X[:,29])
labelencoder_X_22 = LabelEncoder()
X[:,31] = labelencoder_X_22.fit_transform(X[:,31])
labelencoder_X_23 = LabelEncoder()
X[:,35] = labelencoder_X_23.fit_transform(X[:,35])
labelencoder_X_24 = LabelEncoder()
X[:,36] = labelencoder_X_24.fit_transform(X[:,36])
labelencoder_X_25 = LabelEncoder()
X[:,37] = labelencoder_X_25.fit_transform(X[:,37])
labelencoder_X_26 = LabelEncoder()
X[:,38] = labelencoder_X_26.fit_transform(X[:,38])
labelencoder_X_27 = LabelEncoder()
X[:,49] = labelencoder_X_27.fit_transform(X[:,49])
labelencoder_X_28 = LabelEncoder()
X[:,51] = labelencoder_X_28.fit_transform(X[:,51])
labelencoder_X_29 = LabelEncoder()
X[:,53] = labelencoder_X_29.fit_transform(X[:,53])
labelencoder_X_30 = LabelEncoder()
X[:,55] = labelencoder_X_30.fit_transform(X[:,55])
labelencoder_X_31 = LabelEncoder()
X[:,57] = labelencoder_X_31.fit_transform(X[:,57])
labelencoder_X_32 = LabelEncoder()
X[:,58] = labelencoder_X_32.fit_transform(X[:,58])
labelencoder_X_33 = LabelEncoder()
X[:,59] = labelencoder_X_33.fit_transform(X[:,59])
labelencoder_X_34 = LabelEncoder()
X[:,69] = labelencoder_X_34.fit_transform(X[:,69])
labelencoder_X_35 = LabelEncoder()
X[:,70] = labelencoder_X_35.fit_transform(X[:,70])

In [19]:
from sklearn.feature_selection import VarianceThreshold

In [20]:
# Create VarianceThreshold object with a variance with a threshold of 0.5
thresholder = VarianceThreshold(threshold =.5)

# Conduct variance thresholding
X_var = thresholder.fit(X)
features = thresholder.get_support(indices = True)  # Returns array of indexes of nonremoved features
X_high_variance = thresholder.transform(X)

In [21]:
np.shape(X_high_variance)

(1460, 52)

In [22]:
features

array([ 0,  1,  3,  4,  6,  9, 11, 12, 13, 14, 15, 16, 17, 19, 20, 21, 22,
       24, 25, 26, 28, 29, 30, 31, 32, 33, 34, 36, 38, 39, 40, 41, 42, 47,
       49, 50, 51, 53, 54, 55, 56, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69,
       70], dtype=int64)

In [23]:
new_columns = []
for i in range(len(features)):
    name = columns[features[i]]
    new_columns.append(name)

In [24]:
new_columns

['Id',
 'MSSubClass',
 'LotFrontage',
 'LotArea',
 'LotShape',
 'Neighborhood',
 'BldgType',
 'HouseStyle',
 'OverallQual',
 'OverallCond',
 'YearBuilt',
 'YearRemodAdd',
 'RoofStyle',
 'Exterior1st',
 'Exterior2nd',
 'MasVnrType',
 'MasVnrArea',
 'ExterCond',
 'Foundation',
 'BsmtQual',
 'BsmtExposure',
 'BsmtFinType1',
 'BsmtFinSF1',
 'BsmtFinType2',
 'BsmtFinSF2',
 'BsmtUnfSF',
 'TotalBsmtSF',
 'HeatingQC',
 'Electrical',
 '1stFlrSF',
 '2ndFlrSF',
 'LowQualFinSF',
 'GrLivArea',
 'BedroomAbvGr',
 'KitchenQual',
 'TotRmsAbvGrd',
 'Functional',
 'GarageType',
 'GarageYrBlt',
 'GarageFinish',
 'GarageCars',
 'WoodDeckSF',
 'OpenPorchSF',
 'EnclosedPorch',
 '3SsnPorch',
 'ScreenPorch',
 'PoolArea',
 'MiscVal',
 'MoSold',
 'YrSold',
 'SaleType',
 'SaleCondition']

In [25]:
len(new_columns)

52

In [26]:
df = pd.DataFrame(X_high_variance)
df.columns = new_columns

In [27]:
df.head()

,Id,MSSubClass,LotFrontage,LotArea,LotShape,Neighborhood,BldgType,HouseStyle,OverallQual,OverallCond,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1,60,65,8450,3,5,0,5,7,5,...,61,0,0,0,0,0,2,2008,8,4
1,2,20,80,9600,3,24,0,2,6,8,...,0,0,0,0,0,0,5,2007,8,4
2,3,60,68,11250,0,5,0,5,7,5,...,42,0,0,0,0,0,9,2008,8,4
3,4,70,60,9550,0,6,0,5,7,5,...,35,272,0,0,0,0,2,2006,8,0
4,5,60,84,14260,0,15,0,5,8,5,...,84,0,0,0,0,0,12,2008,8,4

In [28]:
df_col = df.columns
chink_col = ['Id', 'MSSubClass', 'LotFrontage', 'LotArea', 'LotShape',
       'Neighborhood', 'HouseStyle', 'OverallQual', 'OverallCond', 'YearBuilt',
       'YearRemodAdd', 'Exterior1st', 'Exterior2nd', 'MasVnrType',
       'MasVnrArea', 'Foundation', 'BsmtQual', 'BsmtFinType1', 'BsmtFinSF1',
       'BsmtUnfSF', 'TotalBsmtSF', 'HeatingQC', '1stFlrSF', '2ndFlrSF',
       'GrLivArea', 'BsmtFullBath', 'FullBath', 'KitchenQual', 'TotRmsAbvGrd',
       'Fireplaces', 'GarageType', 'GarageYrBlt', 'GarageFinish', 'GarageCars',
       'GarageArea', 'WoodDeckSF', 'OpenPorchSF', 'MoSold', 'YrSold',
       'SalePrice']

In [29]:
cols = []
for i in range(len(df_col)):
    if df_col[i] not in chink_col:
        cols.append(df_col[i])

In [30]:
len(cols),print(cols)

['BldgType', 'RoofStyle', 'ExterCond', 'BsmtExposure', 'BsmtFinType2', 'BsmtFinSF2', 'Electrical', 'LowQualFinSF', 'BedroomAbvGr', 'Functional', 'EnclosedPorch', '3SsnPorch', 'ScreenPorch', 'PoolArea', 'MiscVal', 'SaleType', 'SaleCondition']

(17, None)

In [31]:
cols2 = []
for i in range(len(chink_col)):
    if chink_col[i] not in df_col:
        cols2.append(chink_col[i])

In [32]:
len(cols2),print(cols2)

['BsmtFullBath', 'FullBath', 'Fireplaces', 'GarageArea', 'SalePrice']

(5, None)

In [33]:
X = df.values

In [34]:
y.shape, X.shape

((1460,), (1460, 52))

In [35]:
from sklearn.model_selection import train_test_split

In [36]:
X

array([[1, 60, 65.0, ..., 2008, 8, 4],
       [2, 20, 80.0, ..., 2007, 8, 4],
       [3, 60, 68.0, ..., 2008, 8, 4],
       ...,
       [1458, 70, 66.0, ..., 2010, 8, 4],
       [1459, 20, 68.0, ..., 2010, 8, 4],
       [1460, 20, 75.0, ..., 2008, 8, 4]], dtype=object)

In [37]:
y

array([208500, 181500, 223500, ..., 266500, 142125, 147500], dtype=int64)

In [38]:
X_train,X_test,y_train,y_test = train_test_split(X,y,test_size=0.2)

In [39]:
X_train.shape

(1168, 52)

In [40]:
from sklearn.ensemble import RandomForestRegressor

In [41]:
reg = RandomForestRegressor(n_estimators=1000,random_state=0)
reg.fit(X_train, y_train)

RandomForestRegressor(bootstrap=True, criterion='mse', max_depth=None,
           max_features='auto', max_leaf_nodes=None,
           min_impurity_decrease=0.0, min_impurity_split=None,
           min_samples_leaf=1, min_samples_split=2,
           min_weight_fraction_leaf=0.0, n_estimators=1000, n_jobs=None,
           oob_score=False, random_state=0, verbose=0, warm_start=False)

In [42]:
y_pred = reg.predict(X_test)

In [43]:
# y_pred

In [44]:
from sklearn.metrics import mean_squared_error

In [45]:
mse = mean_squared_error(y_test, y_pred)

In [46]:
rmse = np.sqrt(mse)

In [47]:
mse, rmse

(1028440230.0947751, 32069.303548639393)

In [48]:
test_data.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,ScreenPorch,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,RH,80.0,11622,Pave,NaN,Reg,Lvl,AllPub,...,120,0,NaN,MnPrv,NaN,0,6,2010,WD,Normal
1,1462,20,RL,81.0,14267,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,Gar2,12500,6,2010,WD,Normal
2,1463,60,RL,74.0,13830,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,MnPrv,NaN,0,3,2010,WD,Normal
3,1464,60,RL,78.0,9978,Pave,NaN,IR1,Lvl,AllPub,...,0,0,NaN,NaN,NaN,0,6,2010,WD,Normal
4,1465,120,RL,43.0,5005,Pave,NaN,IR1,HLS,AllPub,...,144,0,NaN,NaN,NaN,0,1,2010,WD,Normal

In [49]:
columns = test_data.columns

In [50]:
drop_columns = []
for i in range(len(columns)):
    if columns[i] not in new_columns:
        drop_columns.append(columns[i])

In [51]:
len(drop_columns)

28

In [52]:
test_data = test_data.drop(labels=drop_columns,axis=1)

In [53]:
test_data.head()

,Id,MSSubClass,LotFrontage,LotArea,LotShape,Neighborhood,BldgType,HouseStyle,OverallQual,OverallCond,...,OpenPorchSF,EnclosedPorch,3SsnPorch,ScreenPorch,PoolArea,MiscVal,MoSold,YrSold,SaleType,SaleCondition
0,1461,20,80.0,11622,Reg,NAmes,1Fam,1Story,5,6,...,0,0,0,120,0,0,6,2010,WD,Normal
1,1462,20,81.0,14267,IR1,NAmes,1Fam,1Story,6,6,...,36,0,0,0,0,12500,6,2010,WD,Normal
2,1463,60,74.0,13830,IR1,Gilbert,1Fam,2Story,5,5,...,34,0,0,0,0,0,3,2010,WD,Normal
3,1464,60,78.0,9978,IR1,Gilbert,1Fam,2Story,6,6,...,36,0,0,0,0,0,6,2010,WD,Normal
4,1465,120,43.0,5005,IR1,StoneBr,TwnhsE,1Story,8,5,...,82,0,0,144,0,0,1,2010,WD,Normal

In [54]:
test_data.isna().sum()

Id                 0
MSSubClass         0
LotFrontage      227
LotArea            0
LotShape           0
Neighborhood       0
BldgType           0
HouseStyle         0
OverallQual        0
OverallCond        0
YearBuilt          0
YearRemodAdd       0
RoofStyle          0
Exterior1st        1
Exterior2nd        1
MasVnrType        16
MasVnrArea        15
ExterCond          0
Foundation         0
BsmtQual          44
BsmtExposure      44
BsmtFinType1      42
BsmtFinSF1         1
BsmtFinType2      42
BsmtFinSF2         1
BsmtUnfSF          1
TotalBsmtSF        1
HeatingQC          0
Electrical         0
1stFlrSF           0
2ndFlrSF           0
LowQualFinSF       0
GrLivArea          0
BedroomAbvGr       0
KitchenQual        1
TotRmsAbvGrd       0
Functional         2
GarageType        76
GarageYrBlt       78
GarageFinish      78
GarageCars         1
WoodDeckSF         0
OpenPorchSF        0
EnclosedPorch      0
3SsnPorch          0
ScreenPorch        0
PoolArea           0
MiscVal            0
MoSold             0
YrSold             0
SaleType           1
SaleCondition      0
dtype: int64

In [55]:
test_data.describe(include="O")

,LotShape,Neighborhood,BldgType,HouseStyle,RoofStyle,Exterior1st,Exterior2nd,MasVnrType,ExterCond,Foundation,...,BsmtFinType1,BsmtFinType2,HeatingQC,Electrical,KitchenQual,Functional,GarageType,GarageFinish,SaleType,SaleCondition
count,1459,1459,1459,1459,1459,1458,1458,1443,1459,1459,...,1417,1417,1459,1459,1458,1457,1383,1381,1458,1459
unique,4,25,5,7,6,13,15,4,5,6,...,6,6,5,4,4,7,6,3,9,6
top,Reg,NAmes,1Fam,1Story,Gable,VinylSd,VinylSd,None,TA,PConc,...,GLQ,Unf,Ex,SBrkr,TA,Typ,Attchd,Unf,WD,Normal
freq,934,218,1205,745,1169,510,510,878,1256,661,...,431,1237,752,1337,757,1357,853,625,1258,1204

In [56]:
test_data = test_data.fillna({"LotFrontage": round(np.mean(test_data['LotFrontage']))})
test_data = test_data.fillna({"MSZoning": "RL"})
test_data = test_data.fillna({"Utilities": "AllPub"})
test_data = test_data.fillna({"Exterior1st": "VinylSd"})
test_data = test_data.fillna({"Exterior2nd": "VinylSd"})
test_data = test_data.fillna({"MasVnrType": "RL"})
test_data = test_data.fillna({"MasVnrArea": round(np.mean(test_data['MasVnrArea']))})
test_data = test_data.fillna({"BsmtQual": "TA"})
test_data = test_data.fillna({"BsmtCond": "TA"})
test_data = test_data.fillna({"BsmtExposure": "No"})
test_data = test_data.fillna({"BsmtFinType1": "GLQ"})
test_data = test_data.fillna({"BsmtFinType2": "Unf"})
test_data = test_data.fillna({"BsmtFinSF1": round(np.mean(test_data['BsmtFinSF1']))})
test_data = test_data.fillna({"BsmtFinSF2": round(np.mean(test_data['BsmtFinSF2']))})
test_data = test_data.fillna({"BsmtUnfSF": round(np.mean(test_data['BsmtUnfSF']))})
test_data = test_data.fillna({"TotalBsmtSF": round(np.mean(test_data['TotalBsmtSF']))})
test_data = test_data.fillna({"KitchenQual": "TA"})
test_data = test_data.fillna({"Functional": "Typ"})
test_data = test_data.fillna({"GarageType": "Attchd"})
test_data = test_data.fillna({"GarageYrBlt": round(np.mean(test_data['GarageYrBlt']))})
test_data = test_data.fillna({"GarageFinish": "Unf"})
test_data = test_data.fillna({"GarageCars": round(np.mean(test_data['GarageCars']))})
test_data = test_data.fillna({"GarageQual": "TA"})
test_data = test_data.fillna({"GarageCond": "TA"})
test_data = test_data.fillna({"SaleType": "WD"})

In [57]:
test_data.isna().sum()

Id               0
MSSubClass       0
LotFrontage      0
LotArea          0
LotShape         0
Neighborhood     0
BldgType         0
HouseStyle       0
OverallQual      0
OverallCond      0
YearBuilt        0
YearRemodAdd     0
RoofStyle        0
Exterior1st      0
Exterior2nd      0
MasVnrType       0
MasVnrArea       0
ExterCond        0
Foundation       0
BsmtQual         0
BsmtExposure     0
BsmtFinType1     0
BsmtFinSF1       0
BsmtFinType2     0
BsmtFinSF2       0
BsmtUnfSF        0
TotalBsmtSF      0
HeatingQC        0
Electrical       0
1stFlrSF         0
2ndFlrSF         0
LowQualFinSF     0
GrLivArea        0
BedroomAbvGr     0
KitchenQual      0
TotRmsAbvGrd     0
Functional       0
GarageType       0
GarageYrBlt      0
GarageFinish     0
GarageCars       0
WoodDeckSF       0
OpenPorchSF      0
EnclosedPorch    0
3SsnPorch        0
ScreenPorch      0
PoolArea         0
MiscVal          0
MoSold           0
YrSold           0
SaleType         0
SaleCondition    0
dtype: int64

In [58]:
X2 = test_data.iloc[:,:].values

In [59]:
X2.shape

(1459, 52)

In [60]:
for i in range(52):
    print(i,X2[0][i])

0 1461
1 20
2 80.0
3 11622
4 Reg
5 NAmes
6 1Fam
7 1Story
8 5
9 6
10 1961
11 1961
12 Gable
13 VinylSd
14 VinylSd
15 None
16 0.0
17 TA
18 CBlock
19 TA
20 No
21 Rec
22 468.0
23 LwQ
24 144.0
25 270.0
26 882.0
27 TA
28 SBrkr
29 896
30 0
31 0
32 896
33 2
34 TA
35 5
36 Typ
37 Attchd
38 1961.0
39 Unf
40 1.0
41 140
42 0
43 0
44 0
45 120
46 0
47 0
48 6
49 2010
50 WD
51 Normal

In [61]:
from sklearn.preprocessing import LabelEncoder
labelencoder_X = LabelEncoder()
X2[:,4] = labelencoder_X.fit_transform(X2[:,4])
labelencoder_X_2 = LabelEncoder()
X2[:,5] = labelencoder_X_2.fit_transform(X2[:,5])
labelencoder_X_3 = LabelEncoder()
X2[:,6] = labelencoder_X_3.fit_transform(X2[:,6])
labelencoder_X_4 = LabelEncoder()
X2[:,7] = labelencoder_X_4.fit_transform(X2[:,7])
labelencoder_X_5 = LabelEncoder()
X2[:,12] = labelencoder_X_5.fit_transform(X2[:,12])
labelencoder_X_6 = LabelEncoder()
X2[:,13] = labelencoder_X_6.fit_transform(X2[:,13])
labelencoder_X_7 = LabelEncoder()
X2[:,14] = labelencoder_X_7.fit_transform(X2[:,14])
labelencoder_X_8 = LabelEncoder()
X2[:,15] = labelencoder_X_8.fit_transform(X2[:,15])
labelencoder_X_9 = LabelEncoder()
X2[:,17] = labelencoder_X_9.fit_transform(X2[:,17])
labelencoder_X_10 = LabelEncoder()
X2[:,18] = labelencoder_X_10.fit_transform(X2[:,18])
labelencoder_X_11 = LabelEncoder()
X2[:,19] = labelencoder_X_11.fit_transform(X2[:,19])
labelencoder_X_12 = LabelEncoder()
X2[:,20] = labelencoder_X_12.fit_transform(X2[:,20])
labelencoder_X_13 = LabelEncoder()
X2[:,21] = labelencoder_X_13.fit_transform(X2[:,21])
labelencoder_X_14 = LabelEncoder()
X2[:,23] = labelencoder_X_14.fit_transform(X2[:,23])
labelencoder_X_15 = LabelEncoder()
X2[:,27] = labelencoder_X_15.fit_transform(X2[:,27])
labelencoder_X_16 = LabelEncoder()
X2[:,28] = labelencoder_X_16.fit_transform(X2[:,28])
labelencoder_X_17 = LabelEncoder()
X2[:,34] = labelencoder_X_17.fit_transform(X2[:,34])
labelencoder_X_18 = LabelEncoder()
X2[:,36] = labelencoder_X_18.fit_transform(X2[:,36])
labelencoder_X_19 = LabelEncoder()
X2[:,37] = labelencoder_X_19.fit_transform(X2[:,37])
labelencoder_X_20 = LabelEncoder()
X2[:,39] = labelencoder_X_20.fit_transform(X2[:,39])
labelencoder_X_21 = LabelEncoder()
X2[:,50] = labelencoder_X_21.fit_transform(X2[:,50])
labelencoder_X_22 = LabelEncoder()
X2[:,51] = labelencoder_X_22.fit_transform(X2[:,51])

In [62]:
X2.shape

(1459, 52)

In [63]:
y_pred2 = reg.predict(X2)

In [64]:
y_pred2.shape

(1459,)

In [65]:
y_pred2

array([126004.308, 155209.95 , 180818.191, ..., 152105.153, 125406.108,
       224660.629])

In [66]:
submit = pd.DataFrame()
submit['Id'] = test_data['Id'].values
submit['SalePrice'] = y_pred2.round()

In [67]:
submit.head()

     Id  SalePrice
0  1461   126004.0
1  1462   155210.0
2  1463   180818.0
3  1464   185899.0
4  1465   198120.0

In [68]:
submit.shape

(1459, 2)

In [69]:
submit_file = submit.to_csv('submissionRF2.csv', index = False)